{% extends "Home.html" %}

{% load static %}


 {% block contenido %}

 {% if sinResultados %}
 <h3 style='color: yellow;'>{{sinResultados}}</h3>
 {% endif %}

<a class= 'boton_iniciarSesion' href="{% url 'crear_post' %}">Crear</a> 


<form action="{% url 'buscar_post' %}" method="GET">
    <p class="pinput">Nombre</p>
    <input type="text" name="titulo">
    <input class= 'botonE' type="submit" value="Buscar">
</form>

<h1>Buscador de posteos</h1>
    
{% for post in posts %}
    <ul>
        <li>{{post.titulo}}
            {{post.intro}} <a href="{% url 'post_detail' post.id %}">Leer mas</a></li> 
    </ul>
    
    {% endfor %}
    

{% endblock %}