
{% extends "Home.html" %}

{% load static %}


 {% block contenido %}
 <h1>Busca la pelicula por tu actor favorito </h1>
 <div class="actores">

      <div> 
       <h2>Tobey </h2>
        <img class="" src="static/assets/img/tobey.jpg" alt="">
         </div>

       <div>
        <h2>Andrew </h2>
         <img src="static/assets/img/andrew.jpg" alt="">
        </div>
          

    <div>
      <h2>Tom </h2>
      <img src="static/assets/img/TomHolland.jpg" alt="">
       </div>
     </div>
    
    <form action="resultado" method="GET">
        <p class="pinput">Nombre</p>
        <input class="input" type="text" name="actor_nombre" id="">
        <input class="botonE" type="submit" value="Buscar">


    </form>
  {% endblock %}

 