{% extends "Home.html" %}

{% load static %}


 {% block contenido %}

 <h1 class="tituloI"><b>Integrantes que componen el TEAM SPIDER THREE</b></h1>
<br>
<br>
<div class="integrante"  >

<img src="static/assets/img/guillermo.jpg" alt="Guillermo">
<p>
Guillermo Blanco <br>
C.A.B.A <br><br>
Soy profesor de Música, con 11 años de trayectoria y el gusto por la programacion arrancó en mi adolescencia. <br>

Di mis primeros pasos con Div Games Studio, un motor para hacer videojuegos con leguaje propio (basado en Pascal y C). <br>

Por diversos motivos postergué mis estudios en el área hasta este año. <br>

Actualmente me encuentro en vías de ser un desarrollador python de la mano de Coderhouse y cursando la Tecnicatura en Análisis de sistemas en el Profesorado Pio IX.</p>
</div>
<br>
<br>
<br>
<div class="integrante"  >

    <img src="static/assets/img/cecilia.jpg" alt="Cecilia">
    <p>
    Maria Cecilia Brim  <br>
    San Miguel de Tucuman<br><br>
    Soy santeagueña resido en Tucumán, tengo 25 años y soy estudiante de Ingeniería Química próxima a recibirme, trabajo en papas CRUNCH una pyme de mi localidad.
    Me dio curiosidad programar y comencé un curso en coderhouse el cual este es mi proyecto final!    </p>
    </div>
    <br>
    <br>
    <br>
    <div class="integrante"  >

    <img src="static/assets/img/ale.jpg" alt="Alexis"><br>
    <p>
    Alexis Armua <br>
    Concordia-Entre rios<br><br>
    Soy papa de dos hermosas hijas y tengo 31 años, asesor comercial de una prestadora de salud <br>
    Soy amante y apasionado de la tecnologia   <br>
    La pasion por la programacion comenzo por casualidad en enero de este año , y desde ahi no pare de aprender y aprender  y no parare a ser uno de los mejores en terreno <br>
    Este blog se esta creando para demostrar lo aprendido en el curso de Python dictado por Coder House</p>
        </p>
        </div>

 {% endblock %}

